{% extends "layout.html" %}
{% set title = _("Details of %(category)s %(number)i", category=dp.category, number=dp.number) %}
{% import "macros/states.html" as states %}
{% import "macros/actions.html" as actions %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}"
          rel="stylesheet">
{% endblock %}
{% block content %}
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <dl class="dl-horizontal">
                    <dt>{{ _("Current state:") }}</dt>
                    <dd>{{ states.label(dp.last_state) }}</dd>
                    <dt>{{ _("Location:") }}</dt>
                    <dd>{{ dp.description_with_level }}</dd>
                    <dt>{{ _("Visit priority:") }}</dt>
                    <dd>{{ "%0.2f"|format(dp.priority) }}</dd>
                    {% if current_user.can_visit %}
                    <dt>{{ _("Label:") }}</dt>
                    <dd>
                        <a href="{{ url_for('label.for_dp', number=dp.number) }}"><i class="far fa-file-pdf"></i> {{ _("Download PDF") }}</a>
                    </dd>
                    {% endif %}
                </dl>
                <div class="btn-group">
                    {% if current_user.can_report %}
                    <a class="btn btn-default" href="{{ url_for('action.report', number=dp.number) }}">{{ _("Report") }}</a>
                    {% endif %}
                    {% if current_user.can_visit %}
                    <a class="btn btn-default" href="{{ url_for('action.visit', number=dp.number) }}">{{ _("Visit") }}</a>
                    {% endif %}
                    {% if current_user.can_edit %}
                    <a class="btn btn-default" href="{{ url_for('manage.edit', number=dp.number) }}">{{ _("Edit") }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div id="map" class="map map-small"></div>
            </div>
        </div>

        <h2>{{ _("History") }}</h2>
        <hr>
        <table class="table table-hover">
        <thead>
        <tr>
            <th>{{ _("Time") }}</th>
            <th>{{ _("Event") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for event in dp.history %}
        <tr>
            <td>{{ event.time|datetimeformat }}</td>
            <td>
                {% if event.drop_point %}
                    {{ _("Drop point %(number)i created", number=event.drop_point.number) }}
                {% elif event.location %}
                    {{ _("Location changed to %(location)s", location=event.location.description_with_level) }}
                {% elif event.report %}
                    {{ _("Report submitted and drop point seen as: %(state)s", state=states.label(event.report.state)) }}
                {% elif event.visit %}
                    {{ _("Drop point visited and maintenance performed: %(action)s", action=actions.label(event.visit.action)) }}
                {% elif event.removed %}
                    {{ _("Drop point marked as removed") }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('view.details_js', number=dp.number) }}"></script>
{% endblock %}
