{% extends "layout.html" %}
{% set title = _("Drop Point List") %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/dataTables.bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/list.css') }}"
          rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary list-category-select-button" data-category_id="-1">{{ _("All") }} ({{ total_drop_points }})</button>
        {% for category in categories %}
        <button type="button" class="btn btn-default list-category-select-button" data-category_id="{{ category.category_id }}">{{ category.name }} ({{ category|length }})</button>
        {% endfor %}
    </div>
    <table class="table table-hover" id="dp_list">
        <thead>
        <tr>
            <th>{{ _("Number") }}</th>
            <th>{{ _("Category") }}</th>
            <th>{{ _("Location") }}</th>
            <th>{{ _("Level") }}</th>
            <th>{{ _("State") }}</th>
            <th>{{ _("Priority") }}</th>
            <th>{{ _("Reports") }}</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
    </table>
{% include "modals/list.html" %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('view.list_js') }}"></script>
{% endblock %}
