{% extends "layout.html" %}
{% set title = _("Drop Point Map") %}
{% block header %}
    <meta name="all-drop-points" content="{{ all_dps_json }}">
    <meta name="create-options" content="" data-user-can-edit="{{ current_user.can_edit|lower }}" data-create-url="{{ url_for('manage.create') }}">
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/map.css') }}" rel="stylesheet">
{% endblock %}
{% block replacement %}
<div class="container over-map">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary map-category-select-button" data-category_id="-1">{{ _("All") }} ({{ total_drop_points }})</button>
        {% for category in categories %}
        <button type="button" class="btn btn-light map-category-select-button" data-category_id="{{ category.category_id }}">{{ category.name }} ({{ category|length }})</button>
        {% endfor %}
    </div>
</div>
<div class="spacer over-map"></div>
<div class="container over-map">
    <div id="alerts">
        {% for alert in g.alerts %}
        <div class="alert alert-{{ alert.get('class', 'info') }}">
            {% if 'headline' in alert %}<strong>{{ alert.get('headline') }}</strong>{% endif %}
            {{ alert.get('text', '') }}
        </div>
        {% endfor %}
    </div>
</div>
<div id="map" class="map"></div>
{% include "modals/map.html" %}
{% endblock %}
