**/*.pyc
**/__pycache__/
**/*.db
**/*.swp
.DS_STORE
.git
.idea/
doc/
node_modules/
static/img/map_sq.*
static/img/*.vrt
static/img/tiles/
static/lib/
translations/add.sh
translations/messages.pot
translations/README.md
translations/**/*.mo
venv/
.cache
.coverage
.dockerignore
.gitignore
.travis.yml
.well-known
*.md
config.py
config.default.py
docker-compose.yaml
Dockerfile*
Makefile
requirements.txt
yarn-error.log
