Babel>=2.4.0
CairoSVG>=1.0.22, <2.0
click>=7.0
flake8>=3.6.0
Flask>=0.12.1
Flask-Babel>=0.12.2
Flask-Bcrypt>=0.7.1
Flask-Compress>=1.4.0
Flask-Login>=0.4.0
Flask-Migrate>=2.3.0
Flask-Shell-IPython>=0.3.0
Flask-SQLAlchemy>=2.1
Flask-WTF>=0.14
gunicorn>=19.9.0
pillow==4.0.0
psycopg2-binary>=2.7.5
pwgen>=0.7
pycodestyle>=2.4.0
pylint>=2.1.1
pyPDF2>=1.23
pytest>=3.2.3
pytest-cov>=2.6.0
qrcode>=5.3
werkzeug>=0.12.2
