{% extends "layout.html" %}
{% set title = _("Home") %}
{% block content %}
    {% if config.NO_ANONYMOUS_REPORTING %}
    <div class="alert alert-warning">
        <strong>{{ _("Attention!") }}</strong> {{ _("Anonymous reporting has been disabled.") }}
    </div>
    {% endif %}
    <div class="jumbotron"><div class="container">
        <h1>{{ _("Welcome to %(project)s!", project=_("c3bottles")) }}</h1>

        <p class="lead">
            {{ _("%(project)s is the bottle drop and collection management system of your favourite chaos event. You have no idea what that means? Try the links below!", project=_("c3bottles")) }}
        </p>

        <div class="spacer"></div>
        <form class="form" action="{{ url_for('action.report') }}" method="POST">
        <div class="row">
            <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input{{ ' disabled' if not current_user.can_report }} type="number" step="1" name="number" class="form-control" placeholder="{{ _('Enter a drop point number') }}" required>
            </div>
            <div class="col-xs-4">
            <button{{ ' disabled' if not current_user.can_report }} type="submit" class="btn btn-success">{{ _('Report this drop point') }}</button>
            </div>
        </div>
        </form>
    </div></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs"><i class="far fa-list-alt"></i></div>
            <h3>{{ _("Show me the list!") }}</h3>

            <p>
                {{ _("You like working in text-mode? Great! We have a huge list of bottle drop points and all the tools to interact with them!") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for('view.list_') }}" role="button">
                    {{ _("To the list") }} &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs"><i class="far fa-map"></i></div>
            <h3>{{ _("Show me the map!") }}</h3>

            <p>
                {{ _("Text is nothing for you? No problem! We have a very cool map which shows all the drop points and their state in real-time!") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for('view.map_') }}" role="button">
                    {{ _("To the map") }} &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs"><i class="far fa-chart-bar"></i></div>
            <h3>{{ _("I want the numbers!") }}</h3>

            <p>
                {{ _("The sheer beauty of numbers and diagrams amazes you? Good news: The system allows you to see all the statistics!") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for('statistics.numbers') }}" role="button">
                    {{ _("To the numbers") }} &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs"><i class="far fa-comments"></i></div>
            <h3>{{ _("WTF is this?") }}</h3>

            <p>
                {{ _("You have no clue what this is about or how it works? Your questions were asked before and can be answered.") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for('main.faq') }}" role="button">
                    {{ _("To the FAQ") }} &raquo;
                </a>
            </p>
        </div>
    </div>
{% endblock %}
