html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px; /* for navbar */
    margin-bottom: 90px; /* for footer */
}

.large-icon {
    font-size: 500%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
}

.collapse-toggle {
    cursor: pointer;
    padding-top: 10px;
}

.clickable {
    cursor: pointer;
}

.spacer {
    height: 20px;
}

.piechart {
    display: inline-block !important;
    width: 200px !important;
    height: 200px !important;
}

.sum:before {
    content: "Σ";
    opacity: 0.1;
}

.sum:after {
    content: "Σ";
    visibility: hidden;
}

.average:before {
    content: "Ø";
    opacity: 0.1;
}

.average:after {
    content: "Ø";
    visibility: hidden;
}

.label-unknown {
    background-color: #6f5499;
}

.modal-buttons-div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.dp-modal-tab-links {
    margin-bottom: 10px;
    display: inline-block;
}

.faq-marker {
    height: 2em;
}

.centered-button-holder {
    width: 300px;
}

.map-small {
    height: 400px;
    width: 100%;
}

.white {
    color: #fff !important;
}

input[type=number] {
    -moz-appearance: textfield;
}
