#map {
    width: 100%;
    position: absolute;
    top: 51px;
    z-index: 1;
}

@media (max-width: 767px) {
    #map {
        height: calc(100% - 51px);
    }
}

@media (min-width: 768px) {
    #map {
        height: calc(100% - 51px - 60px);
    }
}

.over-map {
    position: relative;
    z-index: 2;
}
