{% extends "layout.html" %}
{% set title = _("Report %(category)s %(number)i", number=dp.number, category=dp.category) %}
{% block content %}
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        {% if not current_user.can_report %}
        <div class="alert alert-warning">
            <strong>{{ _("Attention!") }}</strong> {{ _("Anonymous reporting has been disabled.") }}
        </div>
        {% endif %}
        <div class="row">
        <div class="col-md-2 col-md-offset-4">
        <div class="centered-button-holder">
            <form action="{{ url_for('action.report') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="number" value="{{ dp.number }}">
                {% include "action/report_buttons.html" %}
            </form>
        </div>
        </div>
        </div>
{% endblock %}
