{% extends "layout.html" %}
{% set title = _("Report %(category)s %(number)i", number=dp.number, category=dp.category) %}
{% block text %}
        {% if not current_user.can_report %}
        <div class="alert alert-warning">
            <strong>{{ _("Attention!") }}</strong> {{ _("Anonymous reporting has been disabled.") }}
        </div>
        {% endif %}
        <div class="row">
            <div class="col-sm-2 col-md-3 col-lg-4"></div>
            <div class="col-sm-8 col-md-6 col-lg-4">
                <form action="{{ url_for('action.report') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="number" value="{{ dp.number }}">
                    {% include "action/report_buttons.html" %}
                </form>
            </div>
            <div class="col-sm-2 col-md-3 col-lg-4"></div>
        </div>
{% endblock %}
