<div class="modal fade" tabindex="-1" role="dialog"
     id="dp_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="modal_dp_category"></span> <span class="modal_dp_number"></span></h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <ul class="nav nav-pills dp-modal-tab-links">
                        {% block links %}
                        <li id="dp_modal_details_link"><a href="#dp_modal_details_tab" data-toggle="tab">{{ _("Details") }}</a></li>
                            <li id="dp_modal_report_link"><a href="#dp_modal_report_tab" data-toggle="tab">{{ _("Report") }}</a></li>
                            <li id="dp_modal_visit_link"><a href="#dp_modal_visit_tab" data-toggle="tab">{{ _("Visit") }}</a></li>
                        {% endblock %}
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="dp_modal_details_tab">
                        <table class="table table-bordered">
                            <tr>
                                <td>{{ _("Current state:") }}</td>
                                <td>
                                    <span class="label label-danger hidden dp-label OVERFLOW">{{ _('Overflowing') }}</span>
                                    <span class="label label-warning hidden dp-label FULL">{{ _('Completely full') }}</span>
                                    <span class="label label-info hidden dp-label REASONABLY_FULL">{{ _('Reasonably full') }}</span>
                                    <span class="label label-primary hidden dp-label SOME_BOTTLES">{{ _('Partially filled') }}</span>
                                    <span class="label label-success hidden dp-label EMPTY">{{ _('Empty') }}</span>
                                    <span class="label label-default hidden dp-label NEW">{{ _('New') }}</span>
                                    <span class="label label-danger hidden dp-label NO_CRATES">{{ _('Missing') }}</span>
                                    <span class="label label-unknown hidden dp-label UNKNOWN DEFAULT">{{ _('Unknown') }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>{{ _("Visit priority:") }}</td>
                                <td class="modal_dp_priority"></td>
                            </tr>
                        </table>
                        {% block details_tab_buttons %}{% endblock %}
                    </div>
                    <div class="tab-pane" id="dp_modal_report_tab">
                        {% block report_tab %}{% include "action/report_buttons.html" %}{% endblock %}
                    </div>
                    <div class="tab-pane" id="dp_modal_visit_tab">
                        {% block visit_tab %}{% include "action/visit_buttons.html" %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
