<div class="modal fade" tabindex="-1" role="dialog"
     id="dp_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Drop Point <span
                        class="modal_dp_number"></span></h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <ul class="nav nav-pills"
                        style="margin-bottom: 10px; display: inline-block;">
                        <li id="dp_modal_details_link">
                            <a href="#dp_modal_details_tab"
                               data-toggle="tab">Details</a>
                        </li>
                        <li id="dp_modal_report_link">
                            <a href="#dp_modal_report_tab"
                               data-toggle="tab">Report</a>
                        </li>
                        <li id="dp_modal_visit_link">
                            <a href="#dp_modal_visit_tab"
                               data-toggle="tab">Visit</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="dp_modal_details_tab">
                        <table class="table table-bordered">
                            <tr>
                                <td>Visit priority:</td>
                                <td class="modal_dp_priority"></td>
                            </tr>
                            <tr>
                                <td>Number of crates:</td>
                                <td class="modal_dp_crates"></td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <a class="btn btn-primary" id="modal_dp_link">View
                                more
                                details</a>
                        </div>
                    </div>
                    <div class="tab-pane" id="dp_modal_report_tab">
                        <p>
                            Please use the buttons below to report the current
                            state of the drop point. If you are unsure which
                            state to report, refer to the FAQ or simply use the
                            very first button.
                        </p>

                        <div style="width: 80%; margin-left: auto; margin-right: auto;">
                            <button class="btn btn-block btn-default report-default">
                                I'm not sure, just take a look
                            </button>
                            <hr/>
                            <button class="btn btn-block btn-danger report-overflow">
                                Drop point is overflowing
                            </button>
                            <button class="btn btn-block btn-warning report-full">
                                Drop point is 100% full
                            </button>
                            <button class="btn btn-block btn-info report-reasonablyfull">
                                Drop point is reasonably full
                            </button>
                            <button class="btn btn-block btn-primary report-somebottles">
                                Some bottles are present
                            </button>
                            <button class="btn btn-block btn-success report-empty">
                                Drop point is empty
                            </button>
                            <hr/>
                            <button class="btn btn-block btn-default report-nocrates">
                                There are no crates
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane" id="dp_modal_visit_tab">
                        <p>
                            Please use the buttons below to log the action taken
                            on your visit of this drop point.
                        </p>

                        <div style="width: 80%; margin-left: auto; margin-right: auto;">
                            <button class="btn btn-block btn-success visit-emptied">
                                Emptied the drop point
                            </button>
                            <hr/>
                            <button class="btn btn-block btn-primary visit-addedcrates">
                                Added some crate(s)
                            </button>
                            <button class="btn btn-block btn-info visit-removedcrates">
                                Removed some crate(s)
                            </button>
                            <button class="btn btn-block btn-warning visit-relocated">
                                Relocated the drop point
                            </button>
                            <button class="btn btn-block btn-danger visit-removed">
                                Removed the drop point
                            </button>
                            <hr/>
                            <button class="btn btn-block btn-default visit-noaction">
                                No action necessary
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{# vim: set expandtab ts=4 sw=4: #}
