{% macro label(action) %}{%  if action == "REMOVED" %}
<span class="label label-danger">Removed</span>{% elif action == "RELOCATED" %}
<span class="label label-warning">Relocated</span>{% elif action == "REMOVED_CRATE" %}
<span class="label label-info">Crate removed</span>{% elif action == "ADDED_CRATE" %}
<span class="label label-primary">Crate added</span>{% elif action == "EMPTIED" %}
<span class="label label-success">Emptied</span>{%  elif action == "NO_ACTION" %}
<span class="label label-default">No action</span>{% else %}
<span class="label label-warning">Unknown</span>{% endif %}{% endmacro %}

{# vim: set expandtab ts=4 sw=4: #}
