{% macro num(state) %}{%  if state == "OVERFLOW" %}
1{% elif state == "FULL" %}
2{% elif state == "DEFAULT" %}
2{% elif state == "REASONABLY_FULL" %}
3{% elif state == "SOME_BOTTLES" %}
4{% elif state == "EMPTY" %}
5{% elif state == "NEW" %}
6{% else %}
0{% endif %}{% endmacro %}

{% macro label(state) %}{%  if state == "OVERFLOW" %}
<span class="label label-danger">Overflowing</span>{% elif state == "FULL" %}
<span class="label label-warning">Full</span>{% elif state == "REASONABLY_FULL" %}
<span class="label label-info">Reasonably full</span>{% elif state == "SOME_BOTTLES" %}
<span class="label label-primary">Some bottles</span>{% elif state == "EMPTY" %}
<span class="label label-success">Empty</span>{%  elif state == "NEW" %}
<span class="label label-default">New</span>{% else %}
<span class="label label-warning">Unknown</span>{% endif %}{% endmacro %}

{%  macro label_js() %}
var labels = {
    {% for state in ["OVERFLOW", "FULL", "REASONABLY_FULL", "SOME_BOTTLES", "EMPTY", "NEW", "DEFAULT", "UNKNOWN"] %}
    {{ state }}: $('{{ label(state) }}'),
    {% endfor %}

}
{% endmacro %}

{# vim: set expandtab ts=4 sw=4: #}
