{% macro num(state) %}{% if state == "OVERFLOW" %}
1{% elif state == "FULL" %}
2{% elif state == "DEFAULT" %}
2{% elif state == "REASONABLY_FULL" %}
3{% elif state == "SOME_BOTTLES" %}
4{% elif state == "EMPTY" %}
5{% elif state == "NEW" %}
6{% else %}
0{% endif %}{% endmacro %}

{% macro label(state) %}{% if state == "OVERFLOW" %}
<span class="label label-danger">{{ _("Overflowing") }}</span>{% elif state == "FULL" %}
<span class="label label-warning">{{ _("Full") }}</span>{% elif state == "REASONABLY_FULL" %}
<span class="label label-info">{{ _("Reasonably full") }}</span>{% elif state == "SOME_BOTTLES" %}
<span class="label label-primary">{{ _("Some waste") }}</span>{% elif state == "EMPTY" %}
<span class="label label-success">{{ _("Empty") }}</span>{%  elif state == "NEW" %}
<span class="label label-default">{{ _("New") }}</span>{%  elif state == "NO_CRATES" %}
<span class="label label-danger">{{ _("No bins") }}</span>{% else %}
<span class="label label-unknown">{{ _("Unknown") }}</span>{% endif %}{% endmacro %}

{% macro color(state) %}{% if state == "OVERFLOW" %}
#d9534f{% elif state == "FULL" %}
#f0ad4e{% elif state == "REASONABLY_FULL" %}
#5bc0de{% elif state == "SOME_BOTTLES" %}
#337ab7{% elif state == "EMPTY" %}
#5cb85c{%  elif state == "NEW" %}
#777777{%  elif state == "NO_CRATES" %}
#d9534f{% else %}
#6f5499{% endif %}{% endmacro %}

{%  macro label_js() %}
var labels = {
    {% for state in ["OVERFLOW", "NO_CRATES", "FULL", "REASONABLY_FULL", "SOME_BOTTLES", "EMPTY", "NEW", "DEFAULT", "UNKNOWN"] %}
    {{ state }}: [{{ num(state) }}, $('{{ label(state) }}'), "{{ color(state) }}"],
    {% endfor %}

}
{% endmacro %}

{# vim: set expandtab ts=4 sw=4: #}
