{% extends "layout.html" %}
{% set title = _("Create a New Waste Drop Point") %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}"
          rel="stylesheet">
{% endblock %}
{% block alerts %}
{% if error_list %}
{% for error in error_list %}
    <div class="alert alert-danger">
        <strong>{{ _("An error occured!") }}</strong>
        {{ error }}
    </div>
{% endfor %}
{% elif success %}
    <div class="alert alert-success">
        <strong>{{ _("Success!") }}</strong>
        {{ _("The drop point has been created successfully.") }}
    </div>
{% endif %}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>{{ _("1. Select the position of the new drop point on the map") }}</h4>
            <hr>
            <div id="map" class="map" style="height: 400px; width: 100%;"></div>
        </div>
    <div class="col-md-6">
            <h4>{{ _("2. Enter the details of your newly created drop point") }}</h4>
            <hr>
            <form class="form-horizontal" action="{{ url_for("create_dp") }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="lat" id="lat" value="{{ lat if lat is not none }}">
                <input type="hidden" name="lng" id="lng" value="{{ lng if lng is not none }}">
                <div class="form-group{{ " has-error" if "level" in error_fields }}">
                    <label for="level" class="col-sm-4 control-label">{{ _("Level") }}</label>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="0"{{ {"checked": "checked"}|xmlattr if level == "0" }}>
                                {{ _("Ground floor (Lobby, Hackcenter)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="1"{{ {"checked": "checked"}|xmlattr if level == "1" }}>
                                {{ _("1st floor (Heaven, Hackcenter)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="2"{{ {"checked": "checked"}|xmlattr if level == "2" }}>
                                {{ _("2nd floor (HF1/2/G)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="3"{{ {"checked": "checked"}|xmlattr if level == "3" }}>
                                {{ _("3rd floor (ZF1/2)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="4"{{ {"checked": "checked"}|xmlattr if level == "4" }}>
                                {{ _("4th floor (RF1/2)") }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group{{ " has-error" if "description" in error_fields }}">
                    <label for="room" class="col-sm-4 control-label">{{ _("Location") }}</label>
                    <div class="col-sm-8{{ " has-error" if "description" in error_fields }}">
                        <input type="text" class="form-control" name="description" id="description" value="{{ description if description is not none }}">
                    </div>
                </div>
                <div class="form-group{{ " has-error" if "number" in error_fields }}">
                    <label for="level" class="col-sm-4 control-label">{{ _("Drop point number") }}</label>
                    <div class="col-sm-2{{ " has-error" if "number" in error_fields }}">
                        <input type="text" class="form-control" name="number" id="number" value="{{ number if number is not none }}">
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" name="action" value="stay">{{ _("Create another drop point") }}</button>
                    <button type="submit" class="btn btn-success" name="action" value="finish">{{ _("Finish drop point creation") }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% include "dp_js.html" %}
<script type="text/javascript">
    var imgdir = "{{ url_for('static', filename='img') }}";
    init_map();
    init_dp_creation();
{% if lat is not none and lng is not none %}
    var lat = {{ lat|round(2) }};
    var lng = {{ lng|round(2) }};
    if (lat < -90 || lat > 90 || lng < -180 || lng > 180) {
        var alert = $("<div></div>")
                .addClass("alert alert-danger")
                .html("<button type=\"button\" class=\"close alert-hide\">\
                        <span aria-hidden=\"true\">&times;</span></button>\
                        <strong>{{ _("Error!") }}</strong> {{ _("The coordinates given were invalid. Pleae choose a new position from the map.") }}");
            $("#alerts").prepend(alert);
            $(".alert-hide").on("click", function () {
                $(this).parent().slideUp();
            });
    } else {
        draw_new_dp({{ lat }}, {{ lng }});
        if (!$(".alert-danger").length) {
            set_info_from_marker({"lat": {{ lat }}, "lng": {{ lng }}});
        }
    }
{% endif %}
{% if center_lat is not none and center_lng is not none %}
    map.setView([{{ center_lat }}, {{ center_lng }}], 5);
{% endif %}
</script>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
