{% extends "dp_modals.html" %}
{% block details_tab %}
<p>
<table class="table table-bordered">
    <tr>
        <td>{{ _("Visit priority:") }}</td>
        <td class="modal_dp_priority"></td>
    </tr>
</table>
<div class="text-center">
    <div class="btn-group">
        <a class="btn btn-default modal_dp_link"
           data-baseurl="{{ url_for("dp_view") }}">
            {{ _("View more details") }}
        </a>
        <a class="btn btn-default modal_map_link"
           data-baseurl="{{ url_for("dp_map") }}">
            {{ _("Show on map") }}
        </a>
    </div>
</div>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
