{% extends "dp_modals.html" %}
{% block details_tab %}
<div id="map" style="height: 250px; width: 100%;"></div>
<p>
<table class="table table-bordered">
    <tr>
        <td>Visit priority:</td>
        <td class="modal_dp_priority"></td>
    </tr>
    <tr>
        <td>Number of crates:</td>
        <td class="modal_dp_crates"></td>
    </tr>
</table>
<div class="text-center">
    <a class="btn btn-primary modal_dp_link"
       data-baseurl="{{ url_for("dp_view") }}">
        View more details
    </a>
</div>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
