<div class="modal fade" tabindex="-1" role="dialog"
     id="dp_modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{ _("Drop Point") }} <span
                        class="modal_dp_number"></span></h4>
            </div>
            <div class="modal-body">
                <div class="text-center">
                    <ul class="nav nav-pills"
                        style="margin-bottom: 10px; display: inline-block;">
                        {% block links %}
                        <li id="dp_modal_details_link">
                            <a href="#dp_modal_details_tab"
                               data-toggle="tab">{{ _("Details") }}</a>
                        </li>
                        <li id="dp_modal_report_link">
                            <a href="#dp_modal_report_tab"
                               data-toggle="tab">{{ _("Report") }}</a>
                        </li>
                        <li id="dp_modal_visit_link">
                            <a href="#dp_modal_visit_tab"
                               data-toggle="tab">{{ _("Visit") }}</a>
                        </li>
                        {% endblock %}
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane" id="dp_modal_details_tab">
                        {% block details_tab %}
                        <table class="table table-bordered">
                            <tr>
                                <td>{{ _("Visit priority:") }}</td>
                                <td class="modal_dp_priority"></td>
                            </tr>
                        </table>
                        <div class="text-center">
                            <a class="btn btn-default modal_dp_link"
                               data-baseurl="{{ url_for("dp_view") }}">
                                {{ _("View more details") }}
                            </a>
                        </div>
                        {% endblock %}
                    </div>
                    <div class="tab-pane" id="dp_modal_report_tab">
                        {% block report_tab %}{% include "report_buttons.html" %}{% endblock %}
                    </div>
                    <div class="tab-pane" id="dp_modal_visit_tab">
                        {% block visit_tab %}{% include "visit_buttons.html" %}{% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
