{% extends "layout.html" %}
{% set title = _("Edit Drop Point %(number)i", number=number) %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}"
          rel="stylesheet">
{% endblock %}
{% block alerts %}
{% if error_list %}
{% for error in error_list %}
    <div class="alert alert-danger">
        <strong>{{ _("An error occured!") }}</strong>
        {{ error }}
    </div>
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>{{ _("Change the position by dragging the black marker on the map:") }}</h4>
            <hr>
            <div id="map" class="map" style="height: 400px; width: 100%;"></div>
        </div>
    <div class="col-md-6">
            <h4>{{ _("Change the details of the drop point:") }}</h4>
            <hr>
            <form class="form-horizontal" action="{{ url_for("edit_dp", number=number) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="lat" id="lat" value="{{ lat }}">
                <input type="hidden" name="lng" id="lng" value="{{ lng }}">
                <div class="form-group{{ " has-error" if "level" in error_fields }}">
                    <label for="level" class="col-sm-4 control-label">{{ _("Level") }}</label>
                    <div class="col-sm-8">
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="0"{{ {"checked": "checked"}|xmlattr if level == "0" }}>
                                {{ _("Ground floor (Lobby, Hackcenter)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="1"{{ {"checked": "checked"}|xmlattr if level == "1" }}>
                                {{ _("1st floor (Heaven, Hackcenter)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="2"{{ {"checked": "checked"}|xmlattr if level == "2" }}>
                                {{ _("2nd floor (HF1/2/G)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="3"{{ {"checked": "checked"}|xmlattr if level == "3" }}>
                                {{ _("3rd floor (ZF1/2)") }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="level" value="4"{{ {"checked": "checked"}|xmlattr if level == "4" }}>
                                {{ _("4th floor (RF1/2)") }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group{{ " has-error" if "description" in error_fields }}">
                    <label for="room" class="col-sm-4 control-label">{{ _("Location") }}</label>
                    <div class="col-sm-8{{ " has-error" if "description" in error_fields }}">
                        <input type="text" class="form-control" name="description" id="description" value="{{ description }}">
                    </div>
                </div>
                <div class="form-group{{ " has-error" if "number" in error_fields }}">
                    <label for="level" class="col-sm-4 control-label">{{ _("Drop point number") }}</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="{{ number }}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remove" value="yes">
                                {{ _("Remove drop point") }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" name="action">{{ _("Submit changes") }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% include "dp_js.html" %}
{% from "macros.html" import init_map %}
<script type="text/javascript">
    var imgdir = "{{ url_for('static', filename='img') }}";
    {{ init_map() }}
    init_dp_creation();
    var lat = {{ lat }};
    var lng = {{ lng }};
    map.setView([{{ lat }}, {{ lng }}], 5);
    draw_new_dp({{ lat }}, {{ lng }});
</script>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
