{% extends "layout.html" %}
{% set title = _("Error") %}
{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-xs-2 text-right">
                <h1><span class="text-danger"><i class="fas fa-exclamation-circle"></i></span></h1>
            </div>
            <div class="col-xs-8">
                <h1><span class="text-danger">{{ heading if heading else _("Oh no!") }}</span></h1>
                <h2>{{ text }}</h2>
                {% if errors is not none %}
                    <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
