{% extends "layout.html" %}
{% set title = _("Home") %}
{% block content %}
    {% if g.no_anonymous_reporting %}
    <div class="alert alert-warning">
        <strong>{{ _("Attention!") }}</strong> {{ _("Anonymous reporting has been disabled.") }}
    </div>
    {% endif %}
    <div class="jumbotron"><div class="container">
        <h1>{{ _("Welcome to %(project)s!", project=_("Waste")) }}</h1>

        <p class="lead">
            {{ _("This is the waste management system for SHA2017. You have no idea what that means? Try the links below!", project=_("c3bottles")) }}
        </p>

        <div class="spacer"></div>
        <form class="form" action="{{ url_for("report") }}" method="POST">
        <div class="row">
            <div class="col-xs-8 col-sm-5 col-md-4 col-lg-3">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input{{ " disabled" if g.no_anonymous_reporting and g.user.is_anonymous }} type="number" step="1" name="number" class="form-control"
                   placeholder="{{ _("Enter a drop point number") }}">
            </div>
            <div class="col-xs-4">
            <button{{ " disabled" if g.no_anonymous_reporting and g.user.is_anonymous }} type="submit" class="btn btn-success">{{ _("Report this drop point") }}</button>
            </div>
        </div>
        </form>
    </div></div>
    <div class="row">
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs">
                <span class="glyphicon glyphicon-list"
                      aria-hidden="true"></span>
            </div>
            <h3>{{ _("Show me the list!") }}</h3>

            <p>
                {{ _("You like working in text-mode? Great! We have a huge list of waste drop points and all the tools to interact with them!") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for("dp_list") }}" role="button">
                    {{ _("To the list") }} &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs">
                <span class="glyphicon glyphicon-globe text-center"
                      aria-hidden="true"></span>
            </div>
            <h3>{{ _("Show me the map!") }}</h3>

            <p>
                {{ _("Text is nothing for you? No problem! We have a very cool map which shows all the drop points and their state in real-time!") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for("dp_map") }}" role="button">
                    {{ _("To the map") }} &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs">
                <span class="glyphicon glyphicon-stats"
                      aria-hidden="true"></span>
            </div>
            <h3>{{ _("I want the numbers!") }}</h3>

            <p>
                {{ _("The sheer beauty of numbers and diagrams amazes you? Good news: The system allows you to see all the statistics!") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for("statistics.statistics") }}" role="button">
                    {{ _("To the numbers") }} &raquo;
                </a>
            </p>
        </div>
        <div class="col-md-3 col-sm-6 text-center">
            <div class="large-icon hidden-xs">
                <span class="glyphicon glyphicon-education text-center"
                      aria-hidden="true"></span>
            </div>
            <h3>{{ _("WTF is this?") }}</h3>

            <p>
                {{ _("You have no clue what this is about or how it works? Your questions were asked before and can be answered.") }}
            </p>

            <p>
                <a class="btn btn-primary navbar-btn"
                   href="{{ url_for("faq") }}" role="button">
                    {{ _("To the FAQ") }} &raquo;
                </a>
            </p>
        </div>
    </div>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
