<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>c3bottles{% if title %} - {{ title }}{% endif %}</title>
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/c3bottles.css') }}"
          rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='img/refund-black.png') }}"
          type="image/png">
{% block header %}{% endblock %}
</head>
<body>
{% include 'navbar.html' %}
{% block replacement %}
<div class="container">
    <div id="alerts">
        {% block alerts %}{% endblock %}
    </div>
    {% block content %}{% endblock %}
</div>
{% endblock %}
{% include 'footer.html' %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
{# vim: set expandtab ts=4 sw=4: #}
