{% extends "layout.html" %}
{% set title = "List of Bottle Drop Points" %}
{% block header %}
    <link href="{{ url_for('static', filename='vendor/datatables/css/datatables.min.css') }}"
          rel="stylesheet">
    <style type="text/css">
    table.dataTable thead > tr > th {
    padding-left: 30px !important;
    padding-right: initial !important;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after {
    left: 8px !important;
    right: auto !important;
}
    </style>
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <table class="table table-hover" id="dp_list">
        <thead>
        <tr>
            <th>Number</th>
            <th>Location</th>
            <th>Last state</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="hidden-xs">Priority</th>
            <th class="hidden-xs">Reports</th>
        </tr>
        </thead>
        <tbody>
        {% for dp in all_dps %}
            <tr>
                <td>{{ dp.number }}</td>
                <td>{{ dp.location.description if dp.location.description else "unknown" }}</td>
                {% if dp.last_state == "OVERFLOW" %}
                    <td data-order="1">
                        <span class="label label-danger">Overflowing</span>
                    </td>
                {% elif dp.last_state == "FULL" %}
                    <td data-order="2">
                        <span class="label label-warning">Full</span>
                    </td>
                {% elif dp.last_state == "REASONABLY_FULL" %}
                    <td data-order="3">
                        <span class="label label-info">Reasonably full</span>
                    </td>
                {% elif dp.last_state == "SOME_BOTTLES" %}
                    <td data-order="4">
                        <span class="label label-primary">Some bottles</span>
                    </td>
                {% elif dp.last_state == "EMPTY" %}
                    <td data-order="5">
                        <span class="label label-success">Empty</span>
                    </td>
                {% else %}
                    <td data-order="0">
                        <span class="label label-warning">Unknown</span>
                    </td>
                {% endif %}
                <td>
                    <span class="clickable glyphicon glyphicon-search"
                          title="View drop point details"
                          data-dp_modal_pane="details"
                          data-dp_number="{{ dp.number }}"></span>
                </td>
                <td>
                    <span class="clickable glyphicon glyphicon-bullhorn"
                          title="Report this drop point"
                          data-dp_modal_pane="report"
                          data-dp_number="{{ dp.number }}"></span>
                </td>
                <td>
                    <span class="clickable glyphicon glyphicon-wrench"
                          title="Log a drop point visit"
                          data-dp_modal_pane="visit"
                          data-dp_number="{{ dp.number }}"></span>
                </td>
                <td class="hidden-xs">{{ "%0.2f"|format(dp.priority) }}</td>
                <td class="hidden-xs">{{ dp.reports_new }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% include "dp_modals.html" %}
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/dp_modals.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/js/datatables.min.js') }}"></script>
<script type="text/javascript">
    var all_dps_geojson = {{ all_dps_geojson|safe }};
    $('#dp_list').DataTable({
        "columns": [
            null,
            null,
            null,
            { "orderable": false },
            { "orderable": false },
            { "orderable": false },
            null,
            null
        ],
        "order": [[ 6, "desc" ]]
    });
</script>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
