{% extends "layout.html" %}
{% set title = "List of Bottle Drop Points" %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="btn-group" role="group" aria-label="filters">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Filter location <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                {% for location in all_locations %}
                    <li><a href="#">{{ location }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                Filter state <span class="caret"></span>
            </button>
            <!-- TODO: implement state filter -->
        </div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                more <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a data-toggle="collapse" data-target=".dp-removed"
                       href="#">Show removed drop points</a></li>
            </ul>
        </div>
    </div>
    <p></p>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Number</th>
            <th>Location</th>
            <th>Last state</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="hidden-xs">Priority</th>
            <th class="hidden-xs">Reports</th>
        </tr>
        </thead>
        <tbody>
        {% for dp in all_dps %}
            <tr{{ {"class": "dp-removed collapse"}|xmlattr if dp.removed }}
                    data-details="{{ '{"number":' + dp.number|string + ',"priority":"' + '%0.2f'|format(dp.priority) + '","crates":' + dp.crates|string + ',"location":"' + dp.location.description + '"}' }}"
                    data-href="{{ url_for("dp_view",dp_number=dp.number) }}">
                <td>
                    {{ "<s>"|safe if dp.removed }}{{ dp.number }}{{ "</s>"|safe if dp.removed }}</td>
                <td>
                    {{ "<s>"|safe if dp.removed }}{{ dp.location.description if dp.location.description else "unknown" }}{{ "</s>"|safe if dp.removed }}</td>
                <td>{{ "<s>"|safe if dp.removed }}
                    {% if dp.last_state == "OVERFLOW" %}
                        <span class="label label-danger">Overflowing</span>
                    {% elif dp.last_state == "FULL" %}
                        <span class="label label-warning">Full</span>
                    {% elif dp.last_state == "REASONABLY_FULL" %}
                        <span class="label label-info">Reasonably full</span>
                    {% elif dp.last_state == "SOME_BOTTLES" %}
                        <span class="label label-primary">Some bottles</span>
                    {% elif dp.last_state == "EMPTY" %}
                        <span class="label label-success">Empty</span>
                    {% else %}
                        <span class="label label-warning">Unknown</span>
                    {% endif %}
                    {{ "</s>"|safe if dp.removed }}</td>
                <td>
                    <span class="clickable glyphicon glyphicon-search"
                          title="View drop point details" data-toggle="modal"
                          data-target="#dp_details_modal"></span>
                </td>
                <td>
                    <span class="clickable glyphicon glyphicon-bullhorn"
                          title="Report this drop point" data-toggle="modal"
                          data-target="#dp_report_modal"></span>
                </td>
                <td>
                    <span class="clickable glyphicon glyphicon-wrench"
                          title="Log a drop point visit" data-toggle="modal"
                          data-target="#dp_visit_modal"></span>
                </td>
                <td class="hidden-xs">
                    {{ "<s>"|safe if dp.removed }}{{ "%0.2f"|format(dp.priority) }}{{ "</s>"|safe if dp.removed }}</td>
                <td class="hidden-xs">
                    {{ "<s>"|safe if dp.removed }}{{ dp.reports_new }}{{ "</s>"|safe if dp.removed }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade dp_modal" tabindex="-1" role="dialog"
         id="dp_details_modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Details of Drop Point <span
                            class="modal_dp_number"></span></h4>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>Visit priority:</td>
                            <td class="modal_dp_priority"></td>
                        </tr>
                        <tr>
                            <td>Number of crates:</td>
                            <td class="modal_dp_crates"></td>
                        </tr>
                    </table>
                    <div class="text-center">
                        <a class="btn btn-primary" id="modal_dp_link">View more
                            details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade dp_modal" tabindex="-1" role="dialog"
         id="dp_report_modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Report Drop Point <span
                            class="modal_dp_number"></span></h4>
                </div>
                <div class="modal-body">
                    <p>
                        Please use the buttons below to report the current state
                        of the drop point. If you are unsure which state to
                        report, refer to the FAQ or simply use the very first
                        button.
                    </p>

                    <div style="width: 80%; margin-left: auto; margin-right: auto;">
                        <button class="btn btn-block btn-default">I'm not sure,
                            just take a look
                        </button>
                        <hr/>
                        <button class="btn btn-block btn-danger">Drop point is
                            overflowing
                        </button>
                        <button class="btn btn-block btn-warning">Drop point is
                            100% full
                        </button>
                        <button class="btn btn-block btn-info">Drop point is
                            reasonably full
                        </button>
                        <button class="btn btn-block btn-primary">Some bottles
                            are present
                        </button>
                        <button class="btn btn-block btn-success">Drop point is
                            empty
                        </button>
                        <hr/>
                        <button class="btn btn-block btn-default">There are no
                            crates
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade dp_modal" tabindex="-1" role="dialog"
         id="dp_visit_modal">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Visit Drop Point <span
                            class="modal_dp_number"></span></h4>
                </div>
                <div class="modal-body">
                    <p>
                        Please use the buttons below to log the action taken on
                        your visit of this drop point.
                    </p>

                    <div style="width: 80%; margin-left: auto; margin-right: auto;">
                        <button class="btn btn-block btn-success">Emptied the
                            drop point
                        </button>
                        <hr/>
                        <button class="btn btn-block btn-primary">Added some
                            crate(s)
                        </button>
                        <button class="btn btn-block btn-info">Removed some
                            crate(s)
                        </button>
                        <hr/>
                        <button class="btn btn-block btn-warning">Relocated the
                            drop point
                        </button>
                        <hr/>
                        <button class="btn btn-block btn-danger">Removed the
                            drop point
                        </button>
                        <hr/>
                        <button class="btn btn-block btn-default">No action
                            necessary
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
