{% extends "layout.html" %}
{% set title = "Drop Point Map" %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/map.css') }}"
          rel="stylesheet">
{% endblock %}
{% block replacement %}
<div class="container over-map">
    <div id="alerts"></div>
</div>
<div id="map" class="map"></div>
{% include "dp_modals.html" %}
{% endblock %}
{% block scripts %}
{% include "dp_js.html" %}
<script type="text/javascript">
    var create_dp_url = "{{ url_for("create_dp") }}";
    var imgdir = "{{ url_for('static', filename='img') }}";
</script>
<script src="{{ url_for('static', filename='js/dp_modals.js') }}"></script>
<script type="text/javascript">
    init_map();
</script>
{% if g.user.is_authenticated() and g.user.can_edit(): %}
<script type="text/javascript">
    allow_dp_creation_from_map();
</script>
{% endif %}
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
