{% set login_form = g.login_form if not login_form %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
            <img src="{{ url_for('static', filename='img/header-35c3.svg') }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
                {% for _s, _t in (
                                ('view.list_', _('List')),
                                ('view.map_', _('Map')),
                                ('statistics.numbers', _('Numbers')),
                                ('main.faq', _('FAQ'))
                            ) %}
                    <li class="nav-item{{ ' active' if request.url_rule.endpoint == _s }}">
                        <a class="nav-link" href="{{ url_for(_s) }}">{{ _t }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if current_user.is_admin %}
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item {{ ' active' if request.blueprint == 'admin' }}">
                    <a class="nav-link" href="{{ url_for('admin.index') }}">
                        <i class="fas fa-wrench"></i> {{ _('Admin Interface') }}
                    </a>
                </li>
            </ul>
            {% endif %}
            {% if g.languages|length > 1 %}
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ _("Language") }}
                        <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu">
                        {% for l in g.languages %}
                        <a class="dropdown-item" href="{{ request.path }}?lang={{ l }}">{{ g.locales[l].get_display_name() }}</a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            {% endif %}
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i> {{ current_user.name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-padding">
                        <li>
                            <form action="{{ url_for('user.logout') }}" method="GET">
                                <button type="submit" class="btn btn-danger btn-block">{{ _("Logout") }}</button>
                            </form>
                         </li>
                    </ul>
                </li>
            </ul>
            {% else %}
            <ul class="navbar-nav navbar-right">
                <li class="nav-item dropdown" id="login-form-dropdown">
                    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        {{ _("Log in") }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-padding">
                        <li>
                            <form action="{{ url_for('user.login') }}" method="POST">
                                {{ login_form.back(value=back if back else request.endpoint) }}
                                {{ login_form.args(value=args if args else request.view_args) }}
                                {{ login_form.csrf_token }}
                                <div class="form-group">
                                    {{ login_form.username(placeholder=_("User name"), class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ login_form.password(placeholder=_("Password"), class="form-control") }}
                                </div>
                                <button type="submit" class="btn btn-success btn-block">{{ _("Login") }}</button>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

