{% set login_form = g.login_form if not login_form %}
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">{{ _("Toggle navigation") }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">
                <img src="{{ url_for('static', filename='img/header-34c3.svg') }}">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {% for _s, _t in (
                                ('view.list_', _('List')),
                                ('view.map_', _('Map')),
                                ('statistics.numbers', _('Numbers')),
                                ('main.faq', _('FAQ'))
                            ) %}
                    <li{{ {'class': 'active'}|xmlattr if request.url_rule.endpoint == _s }}>
                        <a href="{{ url_for(_s) }}">{{ _t }}</a>
                    </li>
                {% endfor %}
            </ul>


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        {% if current_user.is_authenticated %}
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        {{ current_user.name }}
                        {% else %}
                        {{ _("Log in") }}
                        {% endif %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-padding">
                        <li>
                            {% if current_user.is_authenticated %}
                            <form action="{{ url_for('user.logout') }}" method="GET">
                                <button type="submit" class="btn btn-danger btn-block">{{ _("Logout") }}</button>
                            </form>
                            {% else %}
                            <form action="{{ url_for('user.login') }}" method="POST">
                                {{ login_form.back(value=back if back else request.endpoint) }}
                                {{ login_form.args(value=args if args else request.view_args) }}
                                {{ login_form.csrf_token }}
                                <div class="form-group">
                                    {{ login_form.username(placeholder=_("User name"), class="form-control") }}
                                </div>
                                <div class="form-group">
                                    {{ login_form.password(placeholder=_("Password"), class="form-control") }}
                                </div>
                                <button type="submit" class="btn btn-success btn-block">{{ _("Login") }}</button>
                            </form>
                            {% endif %}
                        </li>
                    </ul>
                </li>
            </ul>
            {% if g.languages|length > 1 %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown">
                        {{ _("Language") }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for l in g.languages %}
                        <li>
                            <a href="{{ request.path }}?lang={{ l }}">{{ g.locales[l].get_display_name() }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
            {% endif %}
            {% if current_user.is_admin %}
            <ul class="nav navbar-nav navbar-right">
                <li{{ {'class': 'active'}|xmlattr if request.blueprint == 'admin' }}>
                    <a href="{{ url_for('admin.index') }}">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                        {{ _('Admin Interface') }}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>

