{% extends "layout.html" %}
{% set title = "Report Drop Point" %}
{% block content %}
        <div class="page-header">
            <h1>Report Drop Point {{ dp.number }}</h1>
        </div>
        {% if g.no_anonymous_reporting and g.user.is_anonymous %}
        <div class="alert alert-warning">
            <strong>Attention!</strong> Anonymous reporting has been disabled.
        </div>
        {% endif %}
        <div class="row">
        <div class="col-md-2 col-md-offset-4">
        <div style="width: 300px;">
            <form action="{{ url_for("report") }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="number" value="{{ dp.number }}">
                {% include "report_buttons.html" %}
            </form>
        </div>
        </div>
        </div>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
