<p>
    Please use the buttons below to report the current
    state of the drop point. If you are unsure which
    state to report, refer to the FAQ or simply use the
    very first button.
</p>

<div style="width: 80%; margin-left: auto; margin-right: auto;">
    <button class="btn btn-block btn-default report-default">
        I'm not sure, just take a look
    </button>
    <hr/>
    <button class="btn btn-block btn-danger report-overflow">
        Drop point is overflowing
    </button>
    <button class="btn btn-block btn-warning report-full">
        Drop point is 100% full
    </button>
    <button class="btn btn-block btn-info report-reasonablyfull">
        Drop point is reasonably full
    </button>
    <button class="btn btn-block btn-primary report-somebottles">
        Some bottles are present
    </button>
    <button class="btn btn-block btn-success report-empty">
        Drop point is empty
    </button>
    <hr/>
    <button class="btn btn-block btn-default report-nocrates">
        There are no crates
    </button>
</div>
{# vim: set expandtab ts=4 sw=4: #}
