{% extends "layout.html" %}
{% set title = _("Report Drop Point") %}
{% block content %}
        <div class="page-header">
            <h1>{{ _("Report Drop Point %(number)i", number=dp.number) }}</h1>
        </div>
        {% if g.no_anonymous_reporting and g.user.is_anonymous %}
        <div class="alert alert-warning">
            <strong>{{ _("Attention!") }}</strong> {{ _("Anonymous reporting has been disabled.") }}
        </div>
        {% endif %}
        <div class="row">
        <div class="col-md-2 col-md-offset-4">
        <div class="centered-button-holder">
            <form action="{{ url_for("report") }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="number" value="{{ dp.number }}">
                {% include "report_buttons.html" %}
            </form>
        </div>
        </div>
        </div>
{% endblock %}
