
{% set no = g.no_anonymous_reporting and g.user.is_anonymous %}
<p>
    {{ _("Please use the buttons below to report the current state of the %(name)s. If you are unsure which state to report, refer to the FAQ or simply use the very first button.", name=typename) }}
</p>

<div class="modal-buttons-div">
    <button{{ " disabled" if no }} class="btn btn-block btn-default report-button" type="submit" name="state" value="DEFAULT">
        {{ _("I'm not sure, just take a look") }}
    </button>
    <hr/>
    <button{{ " disabled" if no }} class="btn btn-block btn-danger report-button" type="submit" name="state" value="OVERFLOW">
        {{ _("Trashcan is overflowing") }}
    </button>
    <button{{ " disabled" if no }} class="btn btn-block btn-warning report-button" type="submit" name="state" value="FULL">
        {{ _("Trashcan is 100%% full") }}
    </button>
    <button{{ " disabled" if no }} class="btn btn-block btn-info report-button" type="submit" name="state" value="REASONABLY_FULL">
        {{ _("Trashcan is reasonably full") }}
    </button>
    <button{{ " disabled" if no }} class="btn btn-block btn-primary report-button" type="submit" name="state" value="SOME_BOTTLES">
        {{ _("Tashcan is nearly empty") }}
    </button>
    <button{{ " disabled" if no }} class="btn btn-block btn-success report-button" type="submit" name="state" value="EMPTY">
        {{ _("Trashcan is empty") }}
    </button>
</div>
