{% extends "layout.html" %}
{% set title = _("Numbers") %}
{% import "macros/states.html" as states %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
{% if stats.drop_point_count > 0 and stats.report_count > 0: %}
    <div class="row">
        <div class="col-md-4 col-md-offset-1 col-sm-4 col-xs-12 text-center">
            <p><label for="drop_points_by_state">{{ _("Bins by state") }}</label></p>
            <canvas class="piechart" id="drop_points_by_state"></canvas>
            <div class="spacer"></div>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-12">
            <table class="table table-condensed">
                {% set d = stats.drop_points_by_state %}
                {% set r = stats.reports_by_state %}
                {% for s in ["DEFAULT", "NO_CRATES", "OVERFLOW", "FULL", "REASONABLY_FULL", "SOME_BOTTLES", "EMPTY", "NEW"]: %}
                <tr>
                    <td class="text-right">{{ d[s] }}</td>
                    <td class="text-center">{{ states.label(s) }}</td>
                    <td class="text-right">{{ r[s] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 text-center">
            <p><label for="reports_by_state">{{ _("Reports by state") }}</label></p>
            <canvas class="piechart" id="reports_by_state"></canvas>
            <div class="spacer"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-xs-12 text-center">
            <p class="large-icon sum">{{ stats.drop_point_count }}</p>
            <p>{{ _("drop points in the database") }}</p>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <p class="large-icon sum">{{ stats.report_count }}</p>
            <p>{{ _("state reports by helpful visitors") }}</p>
        </div>
        <div class="col-sm-4 col-xs-6 text-center">
            <p class="large-icon sum">{{ stats.visit_count }}</p>
            <p>{{ _("visits by the trash-collectors") }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-sm-offset-2 col-xs-6 text-center">
            <p class="large-icon average">{{ (stats.report_count / stats.drop_point_count)|round(1) }}</p>
            <p>{{ _("reports per drop point") }}</p>
        </div>
        <div class="col-sm-3 col-sm-offset-2 col-xs-6 text-center">
            <p class="large-icon average">{{ (stats.visit_count / stats.drop_point_count)|round(1) }}</p>
            <p>{{ _("visits per drop point") }}</p>
        </div>
    </div>
{% else %}
<p>{{ _("There are no drop points and/or reports yet. Therefore, no statistics are available.") }}</p>
{% endif %}
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    {{ states.label_js() }}
    stats.draw_drop_points_by_state({{ stats.drop_points_by_state|tojson }});
    stats.draw_reports_by_state({{ stats.reports_by_state|tojson }});
</script>
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
