{% extends "layout.html" %}
{% set title = _("Success") %}
{% block content %}
    <div class="jumbotron">
    <script>
        setTimeout(function() {
            window.location.pathname = '/map';
        }, 2000);
    </script>
        <div class="row">
            <div class="col-xs-2 text-right">
                <h1>
                    <span class="text-success">
                        <span class="glyphicon glyphicon-ok"
                              aria-hidden="true"></span>
                    </span>
                </h1>
            </div>
            <div class="col-xs-8">
                <h1>
                    <span class="text-success">
                        {{ heading if heading else _("Success!") }}
                    </span>
                </h1>
                <h2>
                    {{ text }}
                </h2>
            </div>
        </div>
    </div>

{% endblock %}
