{% extends "layout.html" %}
{% set title = _("Success") %}
{% block header %}
{% if back %}
    <meta http-equiv="refresh" content="2; URL={{ back }}">
{% endif %}
{% endblock %}
{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-2 text-right">
                <h1 class="text-success display-3"><i class="fas fa-check-circle"></i></h1>
            </div>
            <div class="col-sm-8">
                <h1 class="text-success display-3"><strong>{{ heading if heading else _("Success!") }}</strong></h1>
                <h2>{{ text }}</h2>
            </div>
        </div>
    </div>

{% endblock %}
