{% extends "layout.html" %}
{% set title = "Drop Point Details" %}
{% block content %}
    {% if dp != None %}
        <div class="page-header">
            <h1>Details of Drop Point {{ dp.number }}</h1>
        </div>
        <dl class="dl-horizontal">
            <dt>Current location:</dt>
            <dd>{{ dp.get_current_location().description }}</dd>
            <dt>Visit priority:</dt>
            <dd>{{ "%0.2f"|format(dp.get_priority()) }}</dd>
            <dt>Number of crates:</dt>
            <dd>{{ dp.get_current_crate_count() }}</dd>
        </dl>
        {% if debug %}
            <h2>History</h2>
            <hr>
            <ul>
            {% for event in history %}
            <li>{{ event.time.strftime("%Y-%m-%d %H:%M:%S") }}: {{ event.message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <div class="page-header">
            <h1>{{ title }}</h1>
        </div>
        <p>Drop point not found.</p>
    {% endif %}
{% endblock %}
{# vim: set expandtab ts=4 sw=4: #}
