<p>
    Please use the buttons below to log the action taken
    on your visit of this drop point.
</p>

<div style="width: 80%; margin-left: auto; margin-right: auto;">
    <button class="btn btn-block btn-success visit-button" value="EMPTIED">
        Emptied the drop point
    </button>
    <hr/>
    <a class="btn btn-block btn-warning modal_dp_link"
       data-baseurl="{{ url_for("edit_dp") }}">
        Modified the drop point
    </a>
    <hr/>
    <button class="btn btn-block btn-default visit-button" value="NO_ACTION">
        No action necessary
    </button>
</div>
{# vim: set expandtab ts=4 sw=4: #}
