<p>
    Please use the buttons below to log the action taken
    on your visit of this drop point.
</p>

<div style="width: 80%; margin-left: auto; margin-right: auto;">
    <button class="btn btn-block btn-success visit-emptied">
        Emptied the drop point
    </button>
    <hr/>
    <button class="btn btn-block btn-primary visit-addedcrates">
        Added some crate(s)
    </button>
    <button class="btn btn-block btn-info visit-removedcrates">
        Removed some crate(s)
    </button>
    <button class="btn btn-block btn-warning visit-relocated">
        Relocated the drop point
    </button>
    <button class="btn btn-block btn-danger visit-removed">
        Removed the drop point
    </button>
    <hr/>
    <button class="btn btn-block btn-default visit-noaction">
        No action necessary
    </button>
</div>
{# vim: set expandtab ts=4 sw=4: #}
