{% extends "layout.html" %}
{% set title = _("Create a New Bottle Drop Point") %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}" rel="stylesheet">
{% endblock %}
{% block alerts %}
{% if error_list %}
{% for error in error_list %}
    <div class="alert alert-danger">
        <strong>{{ _("An error occurred!") }}</strong>
        {{ error }}
    </div>
{% endfor %}
{% endif %}
{% endblock %}
{% block text %}
    <div class="row">
        <div class="col-md-6">
            <h5>{{ _("Change the position by dragging the black marker on the map:") }}</h5>
            <hr>
            <div id="map" class="map map-small"></div>
        </div>
    <div class="col-md-6">
            <h5>{{ _("Change the details:") }}</h5>
            <hr>
            <form class="form-horizontal" action="{{ url_for('manage.create') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="lat" id="lat" value="{{ lat if lat is not none }}">
                <input type="hidden" name="lng" id="lng" value="{{ lng if lng is not none }}">
                <input type="hidden" name="number" value="{{ number if number is not none }}">
                <input type="hidden" name="level" value="{{ level }}">
                <div class="form-group row like-form-control">
                    <div class="col-sm-4 text-right"><strong>{{ _("Number") }}</strong></div>
                    <div class="col-sm-2">{{ number }}</div>
                </div>
                <div class="form-group row like-form-control">
                    <div class="col-sm-4 text-right"><strong>{{ _("Level") }}</strong></div>
                    <div class="col-sm-8 l">{{ _("Level") }} {{ level }}</div>
                </div>
                <div class="form-group row">
                    <label for="category" class="col-sm-4 col-form-label text-right"><strong>{{ _("Category") }}</strong></label>
                    <div class="col-sm-8{{ ' has-error' if 'category' in error_fields }}">
                        <select name="category_id" class="selectpicker form-control">
                            {% for category in categories %}
                            <option value="{{ category.category_id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row{{ ' has-error' if 'description' in error_fields }}">
                    <label for="room" class="col-sm-4 col-form-label text-right"><strong>{{ _("Location") }}</strong></label>
                    <div class="col-sm-8{{ ' has-error' if 'description' in error_fields }}">
                        <input type="text" class="form-control" name="description" id="description" value="{{ description if description is not none }}">
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="text-right"><button type="submit" class="btn btn-success">{{ _("Create drop point") }}</button></div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('manage.create_js', level=level, lat=lat, lng=lng, center_lat=center_lat, center_lng=center_lng) }}"></script>

{% endblock %}
