{% extends "layout.html" %}
{% set title = _("Edit %(category)s %(number)i", category=dp.category, number=dp.number) %}
{% block header %}
    <link href="{{ url_for('static', filename='lib/css/leaflet.css') }}"
          rel="stylesheet">
{% endblock %}
{% block alerts %}
{% if error_list %}
{% for error in error_list %}
    <div class="alert alert-danger">
        <strong>{{ _("An error occurred!") }}</strong>
        {{ error }}
    </div>
{% endfor %}
{% endif %}
{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>{{ _("Change the position by dragging the black marker on the map:") }}</h4>
            <hr>
            <div id="map" class="map map-small"></div>
        </div>
    <div class="col-md-6">
            <h4>{{ _("Change the details:") }}</h4>
            <hr>
            <form class="form-horizontal" action="{{ url_for('manage.edit', number=number) }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="lat" id="lat" value="{{ lat }}">
                <input type="hidden" name="lng" id="lng" value="{{ lng }}">
                <div class="form-group">
                    <div class="col-sm-4 text-right"><strong>{{ _("Level") }}</strong></div>
                    <div class="col-sm-8">
                        {{ _("Level") }} {{ level }}
                    </div>
                </div>
                <div class="form-group{{ " has-error" if "description" in error_fields }}">
                    <label for="room" class="col-sm-4 control-label">{{ _("Location") }}</label>
                    <div class="col-sm-8{{ " has-error" if "description" in error_fields }}">
                        <input type="text" class="form-control" name="description" id="description" value="{{ description }}">
                    </div>
                </div>
                <div class="form-group{{ " has-error" if "number" in error_fields }}">
                    <label for="level" class="col-sm-4 control-label">{{ _("Number") }}</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" value="{{ number }}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remove" value="yes">
                                {{ _("Remove") }}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="spacer"></div>
                <div class="text-right">
                    <button type="submit" class="btn btn-primary" name="action">{{ _("Submit changes") }}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('manage.edit_js', number=number) }}"></script>
{% endblock %}
